{%- assign url = '/' | prepend: site.baseurl | prepend: site.url -%}
{%- assign title = site.title -%}
{%- assign description = site.description -%}

{%- if page.url != '/' -%}
  {%- if page.url -%}
    {%- assign url = page.url | prepend: site.baseurl | prepend: site.url -%}
  {%- endif -%}
  {%- if page.title -%}
    {%- assign title = page.title | append: ' | ' | append: site.title  -%}
  {%- endif -%}
  {%- if page.description -%}
    {%- assign description = page.description -%}
  {%- endif -%}
{%- endif -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ title | xml_escape }}">
    <meta name="description" content="{{ description | xml_escape }}">
    <meta name="image" content="{{ site.data.bio.basics.picture }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title | xml_escape }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ title | xml_escape }}">
    <meta property="og:description" content="{{ description | xml_escape }}">
    <meta property="og:image" content="{{ site.data.bio.basics.picture }}">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/techfolio-theme/{{ site.techfolio-theme}}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/rouge/{{ site.rouge-theme}}">
    <!-- Load MathJax if 'mathjax: true' is found in your _config.yml. -->
    {% if site.mathjax %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
    </script>
    {% endif %}

    <title>{{ title }}</title>
  </head>
  <body>
  {{ content }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
